@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.righteous-regular {
    
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family: "Righteous", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #Fccc70;
    background-color: #000;
    margin: 0;
}

.heading{
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    background-color: #01c8d0;
    background-image: linear-gradient(170deg, rgb(23, 2, 32) 25%, #50f8aa, #fcaf70 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.25px #fff;
}

span{text-transform: lowercase; font-size: 5rem; -webkit-text-stroke: none;}